
{% assign repo_url = include.repository.name | split: '/' %}
{% assign show_owner = site.data.repositories.github_users contains repo_url.first | default: false %}
{% assign lang = site.lang | split: '-' | first %}
{% assign max_lines = site.data.repositories.repo_description_lines_max | default: 2 %}

<div class="repo p-2 text-center">
    <a href="{{ include.repository.url }}" target="_blank">
      <img
        class="only-light w-100"
        alt="{{ include.repository.display_name }}"
        src="https://github-readme-stats.vercel.app/api/pin/?username={{ repo_url[0] }}&repo={{ repo_url[1] }}&theme={{ site.repo_theme_light }}&locale={{ lang }}&show_owner={{ show_owner }}&description_lines_count={{ max_lines }}"
      >
      <img
        class="only-dark w-100"
        alt="{{ include.repository.display_name }}"
        src="https://github-readme-stats.vercel.app/api/pin/?username={{ repo_url[0] }}&repo={{ repo_url[1] }}&theme={{ site.repo_theme_dark }}&locale={{ lang }}&show_owner={{ show_owner }}&description_lines_count={{ max_lines }}"
      >
    </a>
</div>
